<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>my cv</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css'%}" />

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

{#	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>#}

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/scrolloverflow.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['personalIntroduce', 'projectExperience1', 'projectExperience2', 'projectExperience3', 'projectExperience4','Myself'],
				scrollBar: true,

                scrollingSpeed: 500,
                navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['fullPage.js', 'Powerful', 'Amazing', 'Simple'],

                onLeave: function(index, nextIndex, direction){
				    var $personal = $('#personal_introduce, #personal_skill');
				    var $one_duty = $('#work_one_introduce, #work_one_duty');
				    var $one_struct = $('#work_one_struct');
				    var $two_view = $('#work_two_introduce, #work_two_struct, #work_two_duty');
				    var $three_view = $('#work_three_introduce, #work_three_struct, #work_three_duty');
				    var $fourth_view = $('#work_fourth_introduce, #work_fourth_struct, #work_fourth_duty');
				    var $fifth_view = $('#work_fifth_introduce, #work_fifth_struct, #work_fifth_duty');
				    var $six_view = $('#work_six_introduce, #work_six_struct, #work_six_duty');
				    var $seven_view = $('#work_seven_introduce, #work_seven_struct');
				    var element = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend'

                    if (nextIndex == 1){
                        $personal.addClass('animated zoomIn').one(element, function () {
                            $personal.removeClass('animated zoomIn');
                        });
                    }else if(nextIndex == 2){
                        $one_duty.addClass('animated slideInLeft').one(element, function () {
                            $one_duty.removeClass('animated slideInLeft');
                        });
                        $one_struct.addClass('animated slideInRight').one(element, function () {
                            $one_struct.removeClass('animated slideInRight');
                        });
                    }else if(nextIndex == 3){
                        $two_view.addClass('animated pulse').one(element, function () {
                            $two_view.removeClass('animated pulse');
                        });
                    }else if(nextIndex == 4){
                        $three_view.addClass('animated lightSpeedIn').one(element, function () {
                            $three_view.removeClass('animated lightSpeedIn');
                        });
                    }else if(nextIndex == 5){
                        $fourth_view.addClass('animated pulse').one(element, function () {
                            $fourth_view.removeClass('animated pulse');
                        });
                    }else if(nextIndex == 6){
                        $fifth_view.addClass('animated slideInRight').one(element, function () {
                            $fifth_view.removeClass('animated slideInRight');
                        });
                    }else if(nextIndex == 7){
                        $six_view.addClass('animated slideInLeft').one(element, function () {
                            $six_view.removeClass('animated slideInLeft');
                        });
                    }else if(nextIndex == 8){
                        $seven_view.addClass('animated zoomIn').one(element, function () {
                            $seven_view.removeClass('animated zoomIn');
                        });
                    }
                },
                afterLoad: function(anchorLink, index){
                    var element = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend'
                    var $personal = $('#personal_introduce, #personal_skill');
                    if (index == 1){
                        $personal.addClass('animated zoomIn').one(element, function () {
                            $personal.removeClass('animated zoomIn');
                        });
                    }
                }
			});
		});
	</script>

</head>
<body>

<div id="fullpage">
	<div class="section " id="section0">
        <div class="center">
            <div id="personal_introduce">
                <h3>个人简介</h3>
                <div><strong>姓名:</strong>何正健 | <strong>性别:</strong>男</div>
                <div><strong>手机号:</strong>15866799757 | <strong>邮箱:</strong>hzj7510@163.com</div>
                <div><strong>工作经验:</strong>2年 | <strong>学历:</strong>本科 | <strong>学校:</strong>滨州学院</div>
            </div>
        </div>
        <div class="center">
            <div id="personal_skill">
                <h3>个人技能</h3>
                <h4>python技能</h4>
                <div>熟练使用python</div>
                <div>熟悉python第三方库，如requests,scrapy,matplotlib,numpy等</div>
                <div>熟练使用django开发web</div>
                <div>熟悉python虚拟环境virtualenv与virtualenvwrapper</div>
                <div>了解css,html,js</div>
                <h4>iOS技能</h4>
                <div>能够熟练的使用Objective-C、Swift语言编程，使用OC和Swift混编iOS App应用程序；</div>
                <div>熟练掌握iOS主流界面布局设计，基本控件和自定义控件的使用，事件处理及事件分发机制；</div>
                <div>熟练掌握工厂、代理、观察者、单例等多种设计模式；</div>
                <div>熟练的使用多线程技术，网络编程技术等；</div>
                <div>熟练掌握iOS消息通知的推送机制和使用；</div>
                <div>能够完成支付宝、微信等支付功能集成，完成整个支付流程；</div>
                <div>熟练掌握知名第三方类库的使用，AFNetworking、Alamofire网络数据请求，SDWebImage网络图片下载缓存，umeng第三方登陆、分享和消息推送，MJRefresh数据刷新，Masonry控件约束设置等；</div>
                <p></p>
                <div>拥有自己的技术博客，平时还经常上一些技术网站帮助他人解决一些问题；</div>
                <div>GitHub拥有自己上传作品；</div>
            </div>
        </div>
	</div>

    <div class="section" id="section1">
		<div class="center">
            <div id="work_one_introduce">
                <h3>项目经历</h3>
                <p>2017.03 - 至今   <strong>Python视频后台管理系统  Python开发工程师</strong></p>
                <p><strong>项目描述:</strong>实现一套完整的视频web开发，包括机构、课程、用户操作、用户管理等模块，视频播放，用户收藏等功能以及后台管理系统。</p>
                <a href="www.hezhengjian.com" target="_blank">项目地址</a>
            </div>
            <div id="work_one_struct">
                <h4>项目架构:</h4>
                <div>1.使用django完成users模块编写。</div>
                <div>2.使用django完成organization模块编写，该模块包含机构，教师，城市的细小模块。</div>
                <div>3.使用django完成courses模块编写，包含课程，章节，视频，课程资源等细小模块。</div>
                <div>4.使用django完成operation模块，包含用户收藏，用户消息，用户观看课程等细小模块。</div>
                <div>5.使用xadmin替代django自带admin，实现django后天管理系统，使管理更加的便捷。</div>
            </div>
            <div id="work_one_duty">
                <h4>项目负责:</h4>
                <div>1、负责项目中数据库的搭建，model间的数据处理。</div>
                <div>2、负责项目xadmin的功能扩展，如xadmin权限设置，设置只读字段，排除某字段等。</div>
                <div>3、负责项目model查询处理，如使用Q进行并集查询，使用外键来查询数据等。</div>
                <div>4、负责项目form处理，如使用Form来处理传入form信息，使用FormModel来处理传入form信息。</div>
                <div>5、负责项目ajax请求处理，通过HttpResponse返回信息。</div>
                <div>6、负责项目数据分页处理，通过django-pure-pagination对数据进行分页处理。</div>
                <div>7、负责项目404已经500页面配置。</div>
                <div>8、负责项目后期阿里云服务器部署，通过uwsgi+nginx+mysql对项目进行部署。</div>
            </div>
        </div>
	</div>

	<div class="section" id="section2">
        <div class="center">
            <div id="work_two_introduce">
                <h3>项目经历</h3>
                <p>2017.02 - 2017.03   <strong>抓取智联招聘信息</strong></p>
                <p><strong>项目描述:</strong>抓取智联招聘信息，分析每个城市，某一行业的招聘信息情况，招聘数量与招聘薪资</p>
                <a href="https://github.com/hzj7510/Zhilian_Spider" target="_blank">点这里可以查看源码</a>
            </div>
            <div id="work_two_struct">
                <h4>项目架构:</h4>
                <div>1.项目整体使用scrapy框架。</div>
                <div>2.项目使用xpath对数据进行解析</div>
                <div>3.项目使用pandas对数据进行处理。</div>
                <div>4.项目使用matplotlib对数据结果进行绘图展示。</div>
            </div>
            <div id="work_two_duty">
                <h4>项目负责:</h4>
                <div>1、负责使用xpath对数据进行解析。</div>
                <div>2、负责使用items对数据进行保存</div>
                <div>3、负责使用pipeline对数据进行再分析。</div>
                <div>4、负责使用pandas对数据去重以及对数据进行分组。</div>
                <div>5、负责使用matplotlib对数据进行展示。</div>
            </div>
        </div>
	</div>

    <div class="section" id="section3">
        <div class="center">
            <div id="work_three_introduce">
                <h3>项目经历</h3>
                <p>2016.10 - 2017.01    <strong>迅雷美图抓取</strong></p>
                <p><strong>项目描述:</strong>通过迅雷美图漏洞抓取迅雷美图信息</p>
            </div>
            <div id="work_three_struct">
                <h4>项目架构:</h4>
                <div>1.项目使用requests处理网络请求。</div>
                <div>2.项目使用re正则匹配+json对数据进行解析</div>
                <div>3.项目使用file对文件进行存储。</div>
                <div>4.项目使用迭代器实现对数据的遍历。</div>
            </div>
            <div id="work_three_duty">
                <h4>项目负责:</h4>
                <div>1、负责使用requests进行数据请求，数据获取。</div>
                <div>2、负责使用re正则表达式获取列表中的数据</div>
                <div>3、负责使用json解析列表中的数据。</div>
                <div>4、负责使用open进行文件操作。</div>
                <div>5、负责使用yield对数据进行遍历。</div>
            </div>
        </div>
	</div>

    <div class="section" id="section4">
        <div class="center">
            <div id="work_fourth_introduce">
                <h3>项目经历</h3>
                <p>2016.10 - 2017.至今    <strong>B2C跨境电商产品  iOS开发工程师</strong></p>
                <p><strong>项目描述:</strong>公司根据累积的项目经验及产品经理设计,进行B2C跨境电商自有产品开发。旨在作为公司后续产品推广、销售及客户需求个性化定制基础项目。</p>
            </div>
            <div id="work_fourth_struct">
                <h4>项目架构:</h4>
                <div>1.项目整体采用MVVM模式模式。</div>
                <div>2.项目使用reactiveCocoa来实现ViewModel与View之间的相互绑定。</div>
                <div>3.网络请求使用AFNetworking，配合MJExtension实现异步网络请求与数据解析。</div>
                <div>4.项目实现后台数据来动态调整view显示。</div>
            </div>
            <div id="work_fourth_duty">
                <h4>项目负责:</h4>
                <div>1、负责整体MVVM框架搭建。</div>
                <div>2、用reactiveCocoa实现ViewModel与View数据绑定的实现。</div>
                <div>3、负责项目商品详情页面动态实现的设计讨论与代码实现。</div>
                <div>4、负责项目首页后台与前段数据绑定的设计与代码实现。</div>
                <div>5、负责项目支付流程的讨论。</div>
                <div>6、负责用户登录注册加密,(如注册使用对密码进行倒序添加字符然后使用base64编码发送，登录时对密码进行MD5加密)。</div>
            </div>
        </div>
	</div>

	<div class="section" id="section5">
		<div class="center">
            <div id="work_fifth_introduce">
                <h3>项目经历</h3>
                <p>2016.05 - 2016.10   <strong>万国惠app  iOS开发工程师</strong></p>
                <p><strong>项目描述:</strong>万国惠跨境电商app，是天御（大连）电子商务有限公司旗下电商项目,致力于为消费者提供全都有、特别省、极速到的海外购物服务。</p>
                <a href="https://itunes.apple.com/cn/app/%E4%B8%87%E5%9B%BD%E6%83%A0/id1183618279?mt=8&ign-mpt=uo%3D4" target="_blank">点这里可以下载哦</a>
            </div>
            <div id="work_fifth_struct">
                <h4>项目架构:</h4>
                <div>1.项目采用了MVC框架模式。</div>
                <div>2.主体View采用Masonry纯代码编程。</div>
                <div>3.项目使用云巴完成客服功能的开发。</div>
                <div>4.项目使用reactivecocoa实现控件事件处理，与事件监听。</div>
            </div>
            <div id="work_fifth_duty">
                <h4>项目负责:</h4>
                <div>1、负责中负责项目的迭代与版本更新。</div>
                <div>2、负责首页改版界面开发。</div>
                <div>3、负责对接云巴api完成客服功能的开发。</div>
                <div>4、集成了第三方分享、第三方登录、融智付等sdk。</div>
                <div>5、负责订单界面确认订单功能的开发。</div>
                <div>6、负责搜索模块的开发。</div>
                <div>7、负责搜索功能的优化，实现2秒内不输入自动搜索。</div>
                <div>8、负责版本更新功能的开发。</div>
            </div>
        </div>
        <div class="div_session">
            <img id="work_three_img_one"/>
            <img id="work_three_img_two"/>
        </div>
	</div>

    <div class="section" id="section6">
		<div class="center">
            <div id="work_six_introduce">
                <h3>项目经历</h3>
                <p>2015.11 - 2016.06   <strong>集洋百货  iOS开发工程师</strong></p>
                <p><strong>项目描述:</strong>集洋百货，是广东西邮寄网络科技有限公司旗下的跨境商城项目。</p>
                <a href="https://itunes.apple.com/cn/app/ji-yangshops/id1106921115?mt=8" target="_blank">点击这里可以下载哦</a>
            </div>
            <div id="work_six_struct">
                <h4>项目架构:</h4>
                <div>1.项目采用了MVC框架模式。</div>
                <div>2.主体View采用Masonry纯代码编程。</div>
                <div>3.网络请求架构使用AFNetworking,配合MJExtension实现异步处理与网络请求。</div>
                <div>4.项目图片处理使用SDWebImage实现本地存储，减缓图片请求压力。</div>
                <div>5.项目使用reactivecocoa来避免Block引发的内存泄露与数据传输。</div>
            </div>
            <div id="work_six_duty">
                <h4>项目负责:</h4>
                <div>1、负责项目商品详情页的开发。</div>
                <div>2、负责项目手机支付宝支付、微信支付的开发。</div>
                <div>3、负责购物车界面与功能的开发。</div>
                <div>4、负责项目订单界面的开发。</div>
                <div>5、负责我的界面开发。</div>
            </div>
        </div>

	</div>

    <div class="section" id="section7">
		<div class="center">
            <div id="work_seven_introduce">
                <h4>个人评价:</h4>
                <div>2年ios开发经验,半年python开发经验,热爱编程</div>
		<div>学习能力强,自学python爬虫及web开发</div>
                <div>喜欢运动，热爱跑步</div>
                <div>喜欢音乐，自学吉他ing</div>
            </div>
            <div id="work_seven_struct">
                <h3>感谢观看</h3>
            </div>
        </div>
	</div>

</div>

</body>
</html>
